{% extends "forums/base.html" %}
{% load i18n static inkscape %}

{% block title %}{% trans "Forum Statistics" %}{% endblock %}

{% block "media" %}
  {{ stats.media }}
{% endblock %}

{% block "page-header" %}
  <h1>{% trans "Forum Statistics" %}</h1>
{% endblock %}

{% block "content" %}
    <form method="GET" action="">
      <table class="table table-forum table-hover">
        <tbody>
          <tr class="active">
            <td>
                <select name="cadence" style="width: 100%">
<option value="week" {% if request.GET.cadence == "week" %}selected{% endif %}>Weekly</option>
<option value="day" {% if request.GET.cadence == "day" %}selected{% endif %}>Daily</option>
<option value="month" {% if request.GET.cadence == "month" %}selected{% endif %}>Monthly</option>
<option value="year" {% if request.GET.cadence == "year" %}selected{% endif %}>Yearly</option>
                </select>
            </th>
            <td><input style="width: 100%" type="text" placeholder="From (date/count)" name="from" value="{{ request.GET.from }}"/></th>
            <td><input style="width: 100%" type="text" placeholder="To (date/count)" name="to" value="{{ request.GET.to }}"/></th>
            <td class="text-right"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span></button></th>
          </tr>
        </tbody>
      </table>
    </form>

  {% for stat in stats %}
    {{ stat.render }}
    <hr/>
  {% endfor %}
{% endblock %}
