/* License: AGPLv3 or later (http://www.gnu.org/licenses/), Copyright 2013, Martin Owens <doctormo@gmail.com> */
#gallery {
  margin-top: 12px;
}
.item {
  padding: 10px 20px 0px;
  margin-top: 10px;
  margin-left:-20px;
  margin-right:-20px;
  color:#333;
}
.item form {
  display: block;
}
.item .image {
  background-color: #1a1a1a;
  padding: 20px 35px;
  line-height: 0px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.item .image img {
  background-color: white;
  max-width: 780px;
  max-height: 600px;
  max-height: 80vh;
  margin: 0px;
  border: none;
  border-radius: 4px;
}
.item .image.only a {
  cursor: zoom-in;
}
.item .image.only.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0;
}
.item .image.only.fullscreen.horizontal {
  overflow-x: auto;
  overflow-y: hidden;
}
.item .image.only.fullscreen a {
  line-height: 100vh;
  cursor: zoom-out;
}
.item .image.only.fullscreen img {
  max-width: 100%;
  max-height: none;
  border-radius: 0;
  vertical-align: middle;
}
.item .image.only.fullscreen.horizontal img {
  max-width: none;
  max-height: 100%;
}
.item .info {
  background-color: #fff;
  border: 1px #ddd solid;
}
.item .desc {
  width: 100%;
  padding: 6px 20px;
  min-height: 200px;
}
.item .side {
  border-left: 1px #ddd solid;
  text-align: center;
  vertical-align: top;
  overflow:hidden;
  padding: 6px 10px;
}
.item .side h2 {
  background-color: #eee;
}
.item form .side h2 {
  background-color: #fff;
  border-width: 0px;
}
.item .info textarea {
  width: 100%;
  height: 260px;
}
.item .info #id_comment {
  height: 5em;
}
.item .info hr {
  margin: 8px 0px;
}
.item .info p.infoerr textarea {
  border: 2px #d00 solid;
}
.item div.desc,
.item div.side {
  display: table-cell;
}
.item div.info h2 input {
  width: 97%;
  width: calc(100% - 30px);
  font-size: 14pt;
  padding: 3px;
  margin: 5px;
}
.item .title {
  background-color: #eee;
  border-width: 1px #ddd solid;
  padding: 16px 20px 10px;
}
.item h2 {
  font-family: CallunaRegular,Calluna,"Trebuchet MS",Ubuntu,"Liberation Sans",FreeSans,sans-serif;
  font-size: 17pt;
  color: #333333;
  border: 0px;
  margin: 0px;
  line-height: normal;
}
.item div.by {
  font-size: 70%;
  padding-left: 4px;
  white-space: nowrap;
}

.item .side .link {
  display: block;
  position: relative;
  top: -44px;
  left: 170px;
  height: 0px;
}

.item .side h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 6px 6px 4px;
  width: 205px;
  white-space: normal;
  line-height: 22px;
  border: 1px #ddd solid;
}
.item .side h2.error {
  color: #800;
}
.item .side input,
.item .side select {
  width: 200px;
}
.item .side dl{
  font-size:15px;
  line-height:17px;
  width:100%;
  overflow:hidden;
  padding:8px 12px;
  margin:0px 0px 7px 0px;
}
.item .side dd{
  float:left;
  margin:0px;
}
.item .side dt{
  padding:0px;
  clear:left;
  float:left;
  margin-right:8px;
  color:#888;
}

.empty a.link > img {
  opacity: 0.5;
}
.item.voted {
  border: 2px solid #ffd42a;
  padding: 2px;
}
.item .text {
  border: 2px solid #fff;
  line-height: 16px;
}
.item .text code {
  white-space: pre-wrap;
  color: black;
  font-size: 140%;
}
.item .text ol {
  font-family: "Liberation Mono","Ubuntu Mono",mono;
  border: 1px dotted #eee;
  background: #fff;
  color: #FFF;
  overflow: hidden;
  padding: 7px 0px 7px 3rem;
}
.item .text li {
  color: #aaa;
  background-color: white;
  border-bottom: 1px dotted #eee;
  font-size: 75%;
}
.item .markdown {
  color: #444;
  font-size: 75%;
  padding: 0px 10px 8px;
  background-color: #fffffe;
  border: inset 8px #e3e3e3;
}
.item .markdown h2,
.item .markdown h3,
.item .markdown h4,
.item .markdown h5 {
  color: #444;
}
.edit .image img {
  max-width: 350px;
  max-height: 150px;
  min-height: 50px;
}
.edit .image label > img {
  background-color: transparent;
  display: inline-block;
}
.edit .image label:not(.error) {
  color: #efefef;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.edit .image input[type=checkbox] {
  display: none;
}
.edit .image label strong {
  display: none;
  position: absolute;
  border: 1px inset transparent;
  padding: 11px 5px;
  right: 20px;
  top: 10px;
}
.edit .image label strong:before {
  content: '✕';
}
.edit .image label strong:hover {
  background-color: #1a1a1a;
  border: 1px inset #333;
  border-radius: 6px;
}
.edit .image label:hover {
  background-color: #333;
}
.edit .image label:hover strong {
  display: inline-block;
}
.edit .image input {
  width: 100%;
}
.edit .text {
  overflow: hidden;
  max-height: 200px;
  border-bottom: 2px dashed #aaf;
}
.item .video iframe {
  width: 780px;
  height: 540px;
}
.item .padding {
  padding: 5px;
}
.item .padding span {
  display: inline-block;
  min-width: 190px;
  border: 2px dashed #333;
  padding: 90px 0px 95px;
  margin-top: 10px;
}
.errors {
  background-color: white;
  border: 2px #800 solid;
  padding: 4px;
  color: #800;
}
#item-title {
  display: none;
}

.license img {
  padding: 8px;
  max-width: 150px;
  max-height: 300px;
}
.uploader input[type="file"],
.linker input[type="file"]
{
  display: none;
}
.paster textarea {
  width: 100%;
  min-height: 500px;
}

#item-footer {
  background-color: #f8f8f8;
  border: 1px #ddd solid;
  border-top: 0px;
  border-radius: 0px 0px 8px 8px;
  padding: 4px 10px;
  min-height: 26px;
}
#item-footer form {
  display: block;
}
#item-footer > input,
#item-footer > form > button,
#item-footer > button {
  float: right;
}

.info .tog {
  background-color: white;
  float: right;
  display: inline-block;
  border: 1px #ddd solid;
  border-radius: 8px;
  margin-left: 8px;
}
.info .tog a {
  border-right: 1px #ddd solid;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px 0px 0px 8px;
  background-repeat: no-repeat;
  background-position: 0px -32px;
}
.info .single a {
  border-radius: 8px !important;
}
.info .tog a:hover {
  text-decoration: none;
  background-position: 0px 0px;
}
.info .tog a.disabled {
  background-position: 0px -32px;
  opacity: 0.5;
  cursor: default;
}
.info .tog p {
  margin: 0px;
  padding: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  font-family: verdana, sans-serif;
  min-width: 32px;
  text-align: center;
}
div#view a {
  background-image: url("../../images/icons/view.svg");
}
div#detailview a {
  background-image: url("../../images/icons/detailview.svg");
}
div#download a {
  background-image: url("../../images/icons/download.svg");
}
div#fav a {
  background-image: url("../../images/icons/fav.svg");
}
div#vote a {
  background-image: url("../../images/icons/vote.svg");
}
div#flag a {
  background-image: url("../../images/icons/flag.svg");
}
div.tog a.remove {
  background-position: -32px -32px;
}
div.tog a.remove:hover {
  background-position: -32px 0px;
}

.hidden {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
  z-index: -5;
}

#linker {
  display: flex;
  background-color: #1a1a1a;
  padding: 2px 8px 20px;
}
#linker input {
  width: 100%;
}
.linker {
  padding-bottom: 0px !important;
}
.linker #id_rendering {
  padding-bottom: 0px !important;
}

label.error {
  background-color: #ff4444;
  display: block;
  border: 1px solid #CC0000;
  border-radius: 7px;
  color: white;
  margin: 0px 6px 0px 6px;
  padding: 0px 4px 0px;
  line-height: 125%;
}

/* SVG Special handling */

svg .webhover {
  opacity: 0.01;
  transition: all 0.4s ease-in-out;
}

svg .webhover:hover {
  opacity: 1.0;
  transition: all 0.8s ease-in-out;
}

.coc-note {
  margin: 2px;
  line-height: 1em;
  padding-bottom: 8px;
  color: #999;
}


